{% extends 'base2.html' %}
{% block css %} /assets/css/edit.css {%  endblock %}
{% block user_page %}

<div class="row">
    <div class="col-md-6 offset-md-4" >
        <h1>Edit your profile</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6 offset-md-4">
        <h3>Bio</h3><br>
        <span id="dexription">
            {{descriptionEdit.as_p }}
        </span>
        <button class="btn btn-secondary active" onclick="desEdit('{{request.user.username}}')">Save</button>
    </div>
</div>
<br>
<div class="row ">
    <div class="col-md-6 offset-md-4">
        <h3>your Profile picture</h3><br>
        <img src="{{data.profilePicture.url}}">
        <form " action="." method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{imageEdit.as_p}}
            <button class="btn btn-secondary active"  type="submit">change</button>
        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>





{% endblock %}

{% block scripts %}
<script src="/assets/js/profil/edit.js"></script>
{% endblock %}