{% extends 'base2.html' %}
{% block css %} /assets/css/user.css {% endblock %}

{% block user_page %}

<div class="row">
    <div class="col-md-12 col-xs-6 profile  ">
        <h1 class="text-centre">{{user.user.username}}</h1>
    </div>
</div>
<div  class="row mb-4">
    <div class="col-md-4 col-xs-6 profile offset-1  offset-md-0">

        {% if isPhoto %}
        <img id="profile" src="{{user.profilePicture.url}}">
        {% else %}
        <div id="profDiv" ></div>
        {% endif %}
    </div>
    <div class="col-md-4 col-xs-6 {% if user.description|length  == 0 or not user.description %} mt-3 {% endif%} offset-1  offset-md-0">
        <div class="profileDes " {% if user.description|length  == 0 or not user.description %} style="height:75px;"  {% endif%}>
        <o >{{user.description|linebreaks}} </o>
        </div>
    </div>
    <div class="col-md-4 col xs-12 profile offset-1 offset-md-0">


        <p class="bold-f"> Followers:<span id="followers"> {{ followers }} </span> <br/>
            Following:<span id="following"> {{ following }} </span></p>


        {% if request.user.username != nick %}
            {% if not Ifollow %}
            <button class="btn-primary" id="follow" onclick="follow('{{nick}}')">follow</button>
            {% else %}
            <button class="btn-secondary" id="follow" onclick="unfollow('{{ nick }} ')">unfollow</button>
            {% endif %}


        {% endif %}
    </div>

</div>

<div class="row ">
{% for photo in photos %}
            <div class="col-md-4 col-12  offset-1 offset-md-0" id="inner{{forloop.counter}}">
                <div class="Columns column-margin photos">
                    <a href="{{ photo.get_absolute_url }}"> <img  src="{{ photo.image.url }}" alt="Card image cap"> </a>
                    <p class="description">{{photo.description|truncatechars:30 }}</p>
                </div>
            </div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/assets/js/profil/follow.js"></script>
<script src="/assets/js/photo/hashtag.js"></script>
<script src="/assets/js/photo/screen.js"></script>
{% endblock %}