{% extends 'base2.html' %}
{% block css %} /assets/css/user.css {% endblock %}

{% block user_page %}
<div class="row">
{% for photo in photos %}
    {% if forloop.counter|divisibleby:4 %}
        {% if forloop.counter|divisibleby:4 and forloop.counter != 0   %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-xs-12">
                 <img class="img"  src="{{ photo.image.url }}" alt="Card image cap">
            </div>

        {% else %}
            <div class="col-md-4 col-xs-12">
                 <img  src="{{ photo.image.url }}" alt="Card image cap">
            </div>

     {% endif %}

{% endfor %}
        </div>
{% endblock %}