{% extends 'base2.html' %}
{% block css %} /assets/css/user.css {% endblock %}

{% block user_page %}
<div class="row">
    <div class="col-md-12 col-xs-6 profile offset-1  offset-md-0">
        <h1 class="text-centre">{{user.user.username}}</h1>
    </div>
</div>
<div  class="row mb-4">
    <div class="col-md-4 col-xs-6 profile offset-1  offset-md-0">

        {% if isPhoto %}
        <img id="profile" src="{{user.profilePicture.url }}">
        {% else %}
        <div id="profDiv" ></div>
        {% endif %}
    </div>
    <div class="col-md-4 col-xs-6 profile profile offset-1  offset-md-0">
        <o>{{user.description|linebreaks}} </o>
    </div>
    <div class="col-md-4 col xs-12 profile offset-1 offset-md-0">


        <p> Followers:<span id="followers"> {{ followers }} </span> <br/>
            Following:<span id="following"> {{ following }} </span></p>


        {% if request.user.username != nick %}
            {% if not Ifollow %}
            <button class="btn-primary" id="follow" onclick="follow('{{nick}}')">follow</button>
            {% else %}
            <button class="btn-secondary" id="follow" onclick="unfollow('{{ nick }} ')">unfollow</button>
            {% endif %}


        {% endif %}
    </div>

</div>

<div class="row ">
{% for photo in photos %}
            <div class="col-md-4 col-xs-12 profile offset-1  offset-md-0 photos">
                <a href="{{ photo.get_absolute_url }}"> <img  src="{{ photo.image.url }}" alt="Card image cap"> </a>
                <p class="description">{{photo.description|truncatechars:30 }}</p>

            </div>


{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/assets/js/profil/follow.js"></script>
<script src="/assets/js/photo/hashtag.js"></script>
{% endblock %}