{% extends 'base.html' %}
{% block css %} /assets/css/photo.css {% endblock %}
{% block content %}
<ul>
    <div class="row">
{% for photo in photos %}

{% if photo in like %}
    {% include 'photo/photo_tem.html' with photo=photo a=True like=True id=forloop.counter mb=True%}
{% else %}
    {% include 'photo/photo_tem.html' with photo=photo a=True like=False id=forloop.counter mb=True%}
{% endif %}

{% endfor %}
    </div>
</ul>

{% endblock %}

{% block scripts %}
<script  src="/assets/js/photo/like.js"></script>
{% endblock %}
