<div class="card-deck {% if mb %} mb-3 {% endif %}">
    <div class="card-deck">
      <div class="card">
          {% if a %}
              <a href="{{photo.get_absolute_url}}">
                <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
              </a>
          {% else %}
            <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
          {%endif %}

        <div class="card-body">
          <h5 class="card-title">
            {% if like %}

              <button type="submit" onclick="unlike({{id}},{{photo.pk}})"id="{{id}}" class="like"></button>

            {% elif not like %}

              <button onclick="like({{id}},{{photo.pk}})"id="{{id}}" class="unlike"></button>

          {% endif %}
          <span id="like{{id}}">{{ photo.like }}</span>
          <br>
              <a href="/u/{{photo.author.username}}"> {{ photo.author.username }} </a>
          </h5>
          <p class="card-text">{{ photo.description }}</p>

            {% if addComment %}

                {{ form.as_p }}
                <button class="mb-2" onclick="addComment({{photo.pk}},'{{request.user}}')">add Comment</button>

                <div  id="allCom">
                {% for com in comments %}
                    <div class="mb-1 comments" id="com{{com.pk}}" >
                        <b>{{ com.comment }}</b>
                        <br>
                        <small>{{ com.author}}</small>
                         <img onclick="deleteCom({{com.pk}})"  src="/assets/icon/trash-can.png">
                    </div>

                {% endfor %}
                </div>
            {% else %}
                <a href="{{photo.get_absolute_url}}">add comment</a>
            {% endif %}

        </div>
        <div class="card-footer">
          <small class="text-muted">{{ photo.publish_date}}</small>
        </div>
      </div>
    </div>
</div>
