<div class="card-deck {% if mb %} mb-3 {% endif %}" >
    <div class="card-deck">
      <div class="card">
          {% if a %}
              <a href="{{photo.get_absolute_url}}">
                <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
              </a>
          {% else %}
            <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
          {%endif %}

        <div class="card-body">
          <h5 class="card-title">
            {% if like %}

              <button type="submit" onclick="unlike({{id}},{{photo.pk}})"id="{{id}}" class="like btn"></button>

            {% elif not like %}

              <button onclick="like({{id}},{{photo.pk}})"id="{{id}}" class="unlike btn"></button>

          {% endif %}
          <span id="like{{id}}">{{ photo.like }}</span>
          {% if request.user == photo.author %} <div class="dropdown edit">
                                                  <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Edit
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" onclick="changeDes({{photo.pk}})">Description </a>
                                                    <a class="dropdown-item" onclick="deletePhoto({{photo.pk}})">Delete</a>
                                                  </div>
                                                </div> {% endif%}
                                                          <br>
              <a class="toProf" href="/u/{{photo.author.username}}"> {{ photo.author.username }} </a>
          </h5>
            <p class="card-text "> <span  class="description" id="editDes{{photo.pk}}">{{ photo.description }}  </span>
            </p>


            {% if addComment %}

                {{ form.as_p }}
                <button class="mb-2" onclick="addComment({{photo.pk}},'{{request.user}}')">add Comment</button>

                <div  id="allCom">
                {% for com in comments %}
                    <div class="mb-1 comments" id="com{{com.pk}}" >
                        <b>{{ com.comment }}</b>
                        <br>
                        <small>{{ com.author}}</small>
                         <img onclick="deleteCom({{com.pk}})"  src="/assets/icon/trash-can.png">
                    </div>

                {% endfor %}
                </div>
            {% else %}
                <a class="link" href="{{photo.get_absolute_url}}">add comment</a>
            {% endif %}

        </div>
        <div class="card-footer">
          <small class="text-muted">{{ photo.publish_date}}</small>
        </div>
      </div>
    </div>
</div>
