<div class="card-deck">
    <div class="card-deck">
      <div class="card">
          {% if a %}
              <a href="{{photo.get_absolute_url}}">
                <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
              </a>
          {% else %}
            <img class="card-img-top" src="{{ photo.image.url }}" alt="Card image cap">
          {%endif %}

        <div class="card-body">
          <h5 class="card-title">
              {% if like %}
              <button onclick="like()" class="like">
<!--                 <img src="/assets/icon/like.jpg" alt="like Photo">-->
              </button>
              {% elif not like %}

              <button onclick="unlike()" class="unlike">
              </button>

              {% else %}
              <h2>test</h2>

              {% endif %}
              {{ photo.like }}
              <br>
              {{ photo.author.username }}
          </h5>
          <p class="card-text">{{ photo.description }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ photo.publish_date}}</small>
        </div>
      </div>
    </div>
</div>