body{
    background-color: #eee;
    font-family: 'Lora', serif !important;
    height: 100%;
}
.none{
    display: none;
}
img{
    width: 80%;
    height: 80%;
}
.d{
    width: 50% !important;
}

.container-fluid{
    padding-top: 70px;
    padding-bottom: 80px;
}