html,body{
    background-color: #eee;
    font-family: 'Lora', serif !important;
    height: 100%;
    
}
.container-fluid{
    padding-top: 70px;
}
.like{
    background-color: white;
    width:35px;
    height:35px;
    background-image: url('/assets/icon/like.png') ;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    /* background-size: auto; */
    color: #000;
    border: 0px;


}
.comments{
    border: 1px solid black;
}
.unlike{
    background-color: white;
    width:35px;
    height:35px;
    background-image: url('/assets/icon/unlike.png') ;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    color: #000;
    border: 0px;

}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        border: 1px solid black;
}
.comments>img {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
}
.link{
    color: #000;
}
a[class='link']:active{
    color:black;
}
a[class='link']:hover{
    color:black;
    text-decoration: none;
}

.toProf{
    color: black;
}
.all{
    height: 100%;
}
