.like{
    background-color: white;
    width:35px;
    height:35px;
    background-image: url('/assets/icon/like.png') ;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    /* background-size: auto; */
    color: #000;


}
.comments{
    border: 1px solid black;
}
.unlike{
    background-color: white;
    width:35px;
    height:35px;
    background-image: url('/assets/icon/unlike.png') ;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    color: #000;

}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.comments>img {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
}
