{% extends 'base2.html' %}

{%block user_page %}
{% if userlist|length > 0 %}

{% for user in userlist %}
<div class="d-flex justify-content-center mb-3">
    <div class="card" style="width: 18rem;">
        {% if user.profilePicture %}
      <img class="card-img-top" src="{{user.profilePicture.url}}" alt="Card image cap">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{user.user.username}}</h5>
        <p class="card-text">{{user.description|linebreaks}}</p>
        <a href="/u/{{user.user.username}}" class="btn btn-primary">Profile</a>
          {% if not user in following  %}
          <button type="button" onclick="follow('{{user.user.username}}',false)" id="follow{{user.user.username}}" class="btn btn-primary"> follow </button>
          {% else %}
          <button type="button"  onclick="unfollow('{{user.user.username}}',false)" id="follow{{user.user.username}}" class="btn btn-secondary"> unfollow </button>
          {% endif %}
      </div>
</div>
    </div>
{% endfor %}

{% else %}
<h1>user doesn't exist</h1>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="/assets/js/profil/follow.js"></script>
{% endblock%}