
<footer class="footer {% if bottom %} fixed-bottom {% endif%} font-small blue" style="background-color: #343a40; color:white;" >

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
          © 2018 Copyright: Karol Kaźmierczak <br>
           Heart Icon made by <a href="https://www.flaticon.com/authors/smashicons">smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a><br>
          <div>trash Icons made by <a href="https://www.flaticon.com/authors/sergiu-bagrin" title="Sergiu Bagrin">Sergiu Bagrin</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <!-- Copyright -->
      </div>

</footer>


