


{% extends 'base.html' %}

{% block css %} /assets/css/photo.css {% endblock %}

{% block content %}


{% if like %}
    {% include 'photo/photo_tem.html' with photo=photo a=False like=True id=1 addComment=True form=form%}
{% else %}
    {% include 'photo/photo_tem.html' with photo=photo a=False like=False id=1  addComment=True form=form%}
{%endif %}

{% endblock %}

{% block scripts %}
<script src="/assets/js/photo/like.js"></script>
<script src="/assets/js/photo/comment.js"></script>
{% endblock %}
